@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE aur Edge ke liye */
  scrollbar-width: none;     /* Firefox ke liye */
}